{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <title>Yeezus Casino</title>
    <meta charset="utf-8" />
    <link rel='stylesheet' href="/static/accueil.css" type='text/css'/>
    <meta name="viewport" content = "with=device-width, initial-scale=1.0">
    <style type="text/css">
    html,
    body {
        height: 100%;
        overflow:hidden;
    }
    </style>
</head>

<body class="body">

<div class="flexcen" id="Alterlogo">
Yo
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{% static 'js/yeezus.js' %}"></script>
</body>
</html>   