{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <title>Yeezus Casino</title>
    <meta charset="utf-8" />
    <link rel='stylesheet' href="/static/stats.css" type='text/css'/>
    <meta name="viewport" content = "with=device-width, initial-scale=1.0">
    <style type="text/css">
    html,
    body {
        height: 100%;
    }
    </style>
    {% block head_scripts %}
    <script src="{% static 'js/vue.js' %}"></script>
    {% endblock %}
</head>

<body class="body">

<!-- Logo -->
<div>
    {% block content %}
    <div id="toplogo" class="flexcen" onclick="window.location.href='http://127.0.0.1:8000/roulette/'">
    <img src="/static/images/yeezlog.png">
    </div>
</div>

<!-- Stats container -->

<div id="Maincontainer">
<!-- header -->
<div id="header">
<h2> Stats vue </h2>
</div>
<!-- roulette with vue.js for numbers -->
<div id="rletvue">

    <div class="generalstats">
     <p>Played rounds</p>
     <p>Last reset</p>
    </div>

    <div class="numberspanel">
        <div id="Mchart">
        </div>
    </div>

</div>
<!--  4 views for special stats -->
<div id="specialvalues">

    <div id="specialvue" class="spv1">
        <div id="chart">
        </div>
    </div>

    <div id="specialvue" class="spv2">
        <div id="shart">
        </div>
    </div>
    <div id="specialvue" class="spv3">
        <div id="thart">
        </div>
    </div>

</div>

</div>

<!-- End Stats container -->

{% endblock %}
<footer>
    <h5 style="color:white;"> ©Yeezus - tevus@yeezus.ch </h5>
</footer>
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{% static 'js/engine/yeezus.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
{% endblock %}

</body>
</html>