body {
width:100%;
height:1400px;
background-image: url(/static/images/bgsign.jpg);
background-size: cover;
background-repeat: no-repeat;
overflow-x: hidden;
}

/* tokens */


/**/

.flexcen {
    display: flex;
    justify-content: center;
}

.curgametable {
    font-family:arial, sans-serif;
    border-collapse:collapse;
    width:350px;
    border: 3px solid black;
}

th {
    background-color:white;
    color:black;
    padding: 8px;
}

td {
    background-color:#525252;
    color:white;
    padding: 8px;
    justify-content: center;
}

td > p {
  margin:0;
  display:flex;
  justify-content: center;
}

#toplogo {
    margin-top: 10%;
}

#toplogo:hover {
  cursor: pointer;
}

/** menu **/

.menu {
  margin-top:50px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Buttons */

#buttons {
  margin-left:50px;
  margin-right:50px;
  width: 100px;
}

.btnactive {
  background-color: black;
  color: white;
}

.btnlock {
  background-color: rgb(133, 133, 133);
  color: black;
  cursor: no-drop;
}


/** Gamble table **/

.Table  {
    display:flex;
     flex-direction:column;
    justify-content:center;
     margin-top: 50px;
     margin-bottom: 20px;
     width: 750px;
     height: 250px;
   }

  .septable {
    width: 100%;
    justify-content: center;
    display: flex;
  }
   
   .row {
     height:50px;
     width:100%;
     display:flex;
     justify-content:center;
     flex-wrap:wrap;
     flex-direction:row;
     align-items:stretch;
     align-content:center;
     margin:0px;
   }
   
.maintableright{
  max-height: 152px !important;
  max-width: 51px !important;
}

.maintableleft{
  max-height: 152px !important;
  max-width: 51px !important;
}

#zerozone {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}

#toto11 {
  border-top: 1px solid white;
  border-right: 1px solid white;
}

#toto12 {
  border-right: 1px solid white;
}

#toto13 {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.maintablecenter {
  max-width: 600px;
  max-height: 150px;
}

.totocol {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

   #row1 {
     border-top:1px solid white;
   }

   .specrow1 {
    height: 50px;
    max-width: 602px;
    border-left:1px solid white;
    border-right:1px solid white;
  }

  .specrow2 {
    height: 50px;
    border-bottom:1px solid white;
    border-left:1px solid white;
    border-right:1px solid white;
  }
   
   #case {
     height:50px;
     width:50px;
     display:flex;
     justify-content:center;
     align-items:center;
     font-size:24px;
   }

   .case:hover {
     background-color: rgba(255, 255, 255, 0.5);
     color:black;
     cursor:pointer;
     outline: 1px solid black;
     outline-offset: -2px;
   }
   
   .red {
     color:black;
     background-color: red;
   }

   .green {
     background-color: green;
   }

   .black {
     background-color: black;
     color:white;
   }

   #dot {
    height: 50px;
    width: 50px;
    display:flex;
    position:absolute;
    z-index:9;
    cursor:move;
  }

  /* sidebars */

  #Tablewrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .subtable1 {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 150px;
  }

  #gamb2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 25;
    margin-bottom: 100px;
  }

  .gambtype {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 3px;
    margin-top: 3px;
    color: white;
    background-color: black;
    border: 1px solid white;
    padding-left:25px;
    padding-right: 25px;
    padding-top: 3px;
    padding-bottom: 1px;
    transition: background-color 0.25s;
  }

  .gambtype:hover{
    background-color: white;
    color: black;
    cursor:pointer;
  }

  .gambtype:active {
    background-color: black;
    color: white;
  }
   /* highlight */

  .highlight1 {
    background-color: rgba(0, 153, 255, 0.76);
    outline: 1px solid black;
    outline-offset: -2px;
      }

  .highlight2 {
    background-color: rgba(255, 60, 0, 0.76);
    outline: 1px solid rgb(255, 255, 255);
    outline-offset: -2px;
  }

  .highlight3 {
    background-color: rgba(255, 217, 0, 0.76);
    outline: 1px solid rgb(121, 121, 121);
    outline-offset: -2px;
  }

  /** Gambling zone **/

  #token {
    position:absolute;
    z-index:10;
  }
  
  .gamblingtable {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    border: 1px solid white;
    width: 50%;
    height: 70px;
  }

  .jetonk {
    width: 60px;
    height: 60px;
    display: flex;
  }

  #jeton1 {
    position: absolute;
  }

  #jeton2 {
    position: absolute;
  }

  #jeton3 {
    position: absolute;
  }

  #jeton4 {
    position: absolute;
  }

  #jeton5 {
    position: absolute;
  }

  #jeton6 {
    position: absolute;
  }

  #cloneton {
    position: absolute;
  }

  .fitoken {
    cursor: move;
    width:60px;
    height:60px;
    display: flex;
    transition: margin-top 0.5s;
  }

  .fitoken:hover {
    cursor: pointer;
  }

  .fitoken:active {
    margin-top:2.5px;
  }

/* Roulette svg */

  .svgrlet {
    display: flex;
    transition: none;
    width: 300px !important;
    height: 300px !important;
    margin-top:50px;
    animation-name: rotatelet;
    animation-duration:60s;
    animation-iteration-count: infinite;
  }

  @keyframes rotatelet {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(7200deg);
    };
    51% {
      transform: rotate(7200deg);
    }  
    90% {
      transform: rotate(7200deg);
    }
  }

  .rletsvg {
    display: flex;
    justify-content: center;
    margin-bottom:50px;
  }

  .winop {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    position: absolute;
    left:46.7%;
    right:46.7%;
    top:583px;
  }

  /* form css */

  .p > label {
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .statscontainer {
    display:flex;
    justify-content:center;
    position:absolute;
    align-items: center;
    top: 30px;
    left: 30px;
    background: black;
    border:1px dotted white;
    width: 70px;
    height: 60px;
    transition: background-color 1s;
  }

  .statscontainer:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  .statscontainer > h2 {
    color: white;
  }